/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

.projects {
	min-height: 100vh;
	padding: 155px 0 0;
	transition: all 0.2s;
	text-align: center;
	margin-bottom: 60px;
}

#intro {
	padding-bottom: 30px;
}

#sort-filter-select {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #272829;
	background-color: #ffffff;
	padding: 5px 10px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	cursor: pointer;
}

#sort-filter-select:hover {
	border-color: #69b7ff;
}

#sort-filter-select:focus {
	outline: none;
	border-color: #69b7ff;
}

#sort-filter-select optgroup[label='Sort'] {
	font-weight: bold;
	color: #272829;
}

#sort-filter-select optgroup[label='Filter by Language'] {
	font-weight: bold;
	color: #272829;
}

#sort-filter-select option {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #272829;
}

.projects-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}

.project {
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 500px;
}

.project img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: 0.3s ease;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
}

.project-overlay h3 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 10px;
}

.project-overlay #date {
	color: #fff;
	margin-bottom: 10px;
}

.project-overlay p {
	font-size: 16px;
	color: #fff;
	margin-bottom: 20px;
}

.project-link {
	color: #69b7ff;
	font-weight: bold;
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	transition: 0.3s ease;
}

.project-link:hover {
	color: #fff;
	background: #69b7ff;
}

.project:hover img {
	transform: scale(1.1);
}

.project:hover .project-overlay {
	opacity: 1;
}

@media (max-width: 992px) {
	.projects {
		padding-left: 0;
		padding-right: 0;
	}
	#projects {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}
